
<div *ngIf="Countries.length ===0; else table" class="alert alert-warning text-center">
No hay paises que mostrar
</div>

<ng-template #table>
<table class="table table-hover">
<thead>
  <tr>
    <th>#</th>
    <th>Icon</th>
    <th>Bandera</th>
    <th>Nombre</th>
    <th>Capital</th>
    <th>Poblacion</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let item of Countries; let i =index">
    <td>{{i+1}}</td>
    <th>{{item.flag}}</th>
    <th><img [src]="item.flags.svg" [alt]="item.name.common"></th>
    <th>{{item.name.common}}</th>
    <th>{{item.capital}}</th>
    <th>{{item.population |number}}</th>
    <th><a href="#">Ver mas</a></th>
  </tr>
</tbody>
</table>
</ng-template>
